
# База данных
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/reviews_db

# Другие сервисы
USERS_SERVICE_URL=http://localhost:8001
UNIVERSITY_SERVICE_URL=http://localhost:8003

# Таймауты
REQUEST_TIMEOUT=10.0