APP_NAME=Users Service
DATABASE_URL=
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
SQL_ECHO=
DEFAULT_USER_ROLE=

# Seeder settings
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_FULL_NAME=
SEED_USER_ROLES=
SEED_OUTPUT_FILE=

# App run settings
HOST=127.0.0.1
PORT=8001
